<%= form_for @grupos, :html => {:class => ""} do |x|%>
<div class="row">
	<div class="large-12 columns">
		<label>Nombre Lider Grupo</label>
			<%=x.text_field :nombre%>
	</div>
</div>

<div class="row">
<div class="large-12 columns">
<label>Seleccione Estado</label>
<%=x.collection_select :estado_id, Estado.all, :id,:nombre,{:prompt => "Seleccione un estado"},{:required => true, :id => "estado"}%>
	
</div>
	
</div>

<div class="row">
<div class="large-12 columns">
<label>Seleccione Municipio</label>
<%=x.select :municipio_id, [], {:prompt => "Seleccione municipio"},{:id => "municipio", :required => true,} %>
	
</div>
	
</div>

<div class="row">
	<div class="large-12 columns">
		<label>Cedula lider del grupo</label>
			<%=x.text_field :ci%>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
		<label>Cedula del profesor</label>
			<input type="text" id="cedula_profesor" name="cedula_profesor" required>
	</div>

	<div class="small-8 columns left">
	<label>&nbsp;</label>

		<input type="text" disabled value="" style="margin-left:-20px;" id="nombre_profesor">
		
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<label>Instituciòn</label>
			<%=x.collection_select :institucione_id, Institucione.all, :id,:nombre%>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
			<%=x.submit @registrar, :class => "large-12 button"%>
	</div>
</div>

<%end%>