<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @security.nombre %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @security.ip %>
</p>

<%= link_to 'Edit', edit_security_path(@security) %> |
<%= link_to 'Back', securities_path %>
